<section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="userDetails">
      <!-- Item Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
      <ng-container  matColumnDef="email">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Email </th>
        <td class="text-center" mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Address </th>
        <td class="text-center" mat-cell *matCellDef="let element"> 

          <li *ngFor="let address of element.addresses;let i = index"> 
            {{'Address'}}{{i+1}}:{{ address.city + ','+ address.state + ','+ address.pincode}}
           </li>
          
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th class="text-center" mat-header-cell *matHeaderCellDef> Action </th>
        <td class="text-center red-color" mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="removeRow(element)">
                <mat-icon>close</mat-icon>
            </button> 
         </td>
      </ng-container>  
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>